.a{
    background-color: darkred;
}
.b{
    background-color: darkcyan;
}
.c{
    background-color: forestgreen;
}
.d{
    background-color: rgb(89, 87, 87);
}
.e{
    background-color: darkgray;
}
.f{
    background-color: rgb(190, 183, 183);
}
.p{
width: 200px;
height: 200px;
}